@charset "utf-8";
/* Custom Fonts */
@font-face {
    font-family: 'OswaldLight';
    src: url('../fonts/Oswald-Light-webfont.eot');
    src: url('../fonts/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Light-webfont.woff') format('woff'),
         url('../fonts/Oswald-Light-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Light-webfont.svg#OswaldLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldBook';
    src: url('../fonts/Oswald-Regular-webfont.eot');
    src: url('../fonts/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Regular-webfont.woff') format('woff'),
         url('../fonts/Oswald-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldBold';
    src: url('../fonts/Oswald-Bold-webfont.eot');
    src: url('../fonts/Oswald-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Bold-webfont.woff') format('woff'),
         url('../fonts/Oswald-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Bold-webfont.svg#OswaldBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldStencilRegular';
    src: url('../fonts/Oswald-Stencil-webfont.eot');
    src: url('../fonts/Oswald-Stencil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Stencil-webfont.woff') format('woff'),
         url('../fonts/Oswald-Stencil-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Stencil-webfont.svg#OswaldStencilRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* ----------------------- */
/* Custom Bootstrap Styles */
/* ----------------------- */
.container-fluid {
	padding: 0;
}

/* NAVBAR */
.navbar-fixed-top {
	margin: 0;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  font: 18px/27px 'OswaldBook', Arial, sans-serif;
  font-size: 1.4em;
  color: ED4732;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ED4732;
  background-color: #111111;
}
.navbar .nav > li > a {
	float: none;
	color: #eeeeee/*#efefef*/;
	text-decoration: none;
	-webkit-transition: all 500ms ease 0s;
	-moz-transition: all 500ms ease 0s;
	-ms-transition: all 500ms ease 0s;
	-o-transition: all 500ms ease 0s;
	transition: all 500ms ease 0s;
}
.navbar .brand {
  float: left;
  display: block;
  padding: 0;
  margin-left: 0;
  font-size: 0px;
  font-weight: normal;
  color: #777777;
  text-shadow: none;
}


/* ----------------------- */
/* Custom Styles Portfolio */
/* ----------------------- */
html, body {
	/*overflow: hidden;  Disable scrolling */
}

body {
	/* Remove margins and all that */
	margin: 0;
	padding: 0px 0px 0px 0px;
}
#header {
	width: 100%;
	position: absolute;
	z-index: 500000;
}
.brand {
	display: block;
	margin-top: 8px;
	width: 120px;
	height: 60px;
	background: url(../img/wmlogo2.png) no-repeat top;
}
.brand:hover {
	background-position: 0px -60px;
}
#menu a[href*='#'] {
	color: #ffffff;
}
#menu a[href*='#']:hover,
#menu a[href*='#']:focus {
	color: #ED4732;
}
.active {
	background: #ED4732;
	border-radius: 5px;
}
div.page-padding {
	height: 70px;
}
[class*="heading-"] {	
	background-color:#FFFFFF;
	font: 18px/27px 'OswaldBook', Arial, sans-serif;
	font-size: 5em;
}
[class*="heading-"] span {
	margin: 0 10% 0 10%;
}
	
div.header-content {
/*	text-align: center;*/
	height: 1.95em;
}
div.header-content p {
	line-height: 1.95em;
	padding-top: 0.15em;
}
/*.letter-spacing {
	letter-spacing: 1.8em;
}*/
div.content {
	padding-top: 160px;
}
.home div.content {
	padding-top: 70px;
}
.current {
	  color: #ED4732;
}

/*THE HOME PAGE*/ 
.home-page {
	background-color: #3097b9;
	box-shadow: inset 0 250px 600px #59C1D9, 0px 0px 60px rgba(0, 0, 0, 0.4);
} 	
/*THE ABOUT PAGE*/
.about-page {
	background-color: #202020;
	box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
	height: 900px;
}
.about-page .content {
	color: #FFFFFF;
}
/*THE TWITTER SECTION*/
.twitter-page #one {
	background-color: #3097b9;
	box-shadow: inset 0 250px 600px #59C1D9, 0px 0px 60px rgba(0, 0, 0, 0.4);
}

/*THE PORTFOLIO PAGE*/
.portfolio-page {
	background-color: #00d907;
	box-shadow: inset 0 250px 600px #59d95d, 0px 0px 60px rgba(0, 0, 0, 0.4);
	height: 900px;
}
/*THE BLOG PAGE*/
.blog-page {
	background-color: #00d907;
	box-shadow: inset 0 250px 600px #59d95d, 0px 0px 60px rgba(0, 0, 0, 0.4);
}
/*THE CONTACT PAGE*/
.contact-page {
	background-color: #00d907;
	box-shadow: inset 0 250px 600px #59d95d, 0px 0px 60px rgba(0, 0, 0, 0.4);
}



@media (max-width: 979px) {
	/* ----------------------- */
	/* Custom Bootstrap Styles */
	/* ----------------------- */
	.navbar-fixed-top .navbar-inner {
		padding: 0px 5px;
	}
	.navbar-inverse .brand,
	.navbar-inverse .nav > li > a {
	  color: #ffffff;
	}
	.collapse.in {
		padding-top: 15px;
		height: auto;
	}
	  .nav-collapse.in .btn-group {
    	margin-top: 15px;
    	padding: 0;
  	}
	/* ----------------------- */
	/* Custom Styles Portfolio */
	/* ----------------------- */
	#menu a[href*='#'] {
		color: #ffffff;
	}
	#menu a[href*='#']:hover,
	#menu a[href*='#']:focus { 
		color: #ED4732;
		background-color: #ffffff;
	}
	#menu a[href*='#'].active:hover,
	#menu a[href*='#'].active:focus {
		color: #ffffff;
		background-color: #7d251a;
	}
	
	#header-mobile form {
		margin: 16px 0px 0px 0px;
	}
	.mobile-nav {
		padding-top: 8px;
	}
	option:hover,
	option:focus {
		color: #ED4732;
	}
	.styled-select select {
		background: #ffffff;
		padding: 5px;
		font-size: 16px;
		border: 0;
		border-radius: 5px;
		-webkit-appearance: none;
	}
	.styled-select select option:hover {
		background-color: #dddddd;
	}
	div.page-padding {
		height: 0px;
	}
	[class*="heading-"] span {
	margin: 0;
}

}