@charset "utf-8";
/* Custom Fonts */
@font-face {
    font-family: 'OswaldLight';
    src: url('../fonts/Oswald-Light-webfont.eot');
    src: url('../fonts/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Light-webfont.woff') format('woff'),
         url('../fonts/Oswald-Light-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Light-webfont.svg#OswaldLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldBook';
    src: url('../fonts/Oswald-Regular-webfont.eot');
    src: url('../fonts/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Regular-webfont.woff') format('woff'),
         url('../fonts/Oswald-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldBold';
    src: url('../fonts/Oswald-Bold-webfont.eot');
    src: url('../fonts/Oswald-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Bold-webfont.woff') format('woff'),
         url('../fonts/Oswald-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Bold-webfont.svg#OswaldBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldStencilRegular';
    src: url('../fonts/Oswald-Stencil-webfont.eot');
    src: url('../fonts/Oswald-Stencil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Stencil-webfont.woff') format('woff'),
         url('../fonts/Oswald-Stencil-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Stencil-webfont.svg#OswaldStencilRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* ----------------------- */
/* Custom Bootstrap Styles */
/* ----------------------- */
.container-fluid {
	padding: 0;
}

/* NAVBAR */
.navbar-fixed-top {
	margin: 0;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  font: 18px/27px 'OswaldBook', Arial, sans-serif;
  font-size: 1.4em;
  color: #ED4732;
}
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ED4732;
  background-color: #111111;
}
.navbar .nav > li > a {
	float: none;
	color: #eeeeee/*#efefef*/;
	text-decoration: none;
	-webkit-transition: all 500ms ease 0s;
	-moz-transition: all 500ms ease 0s;
	-ms-transition: all 500ms ease 0s;
	-o-transition: all 500ms ease 0s;
	transition: all 500ms ease 0s;
}
.navbar .brand {
  float: left;
  display: block;
  padding: 0;
  margin-left: 0;
  font-size: 0;
  font-weight: normal;
  color: #777777;
  text-shadow: none;
}
.header-content .nav > li > a {
    font: 18px/27px 'OswaldBook', Arial, sans-serif;
    font-size: 1.4em;
    color: #ED4732;
}
.header-content .navbar .nav > li > a {
    color: #ffffff;
    text-shadow: none;
}


.header-content .navbar .nav > a,
.header-content .navbar .nav > a:hover,
.header-content .navbar .nav > a:focus {
    color: #777777;
}
.header-content .navbar .nav > li > a {
    float: none;
    color: #ffffff/*#efefef*/;
    text-decoration: none;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -ms-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}

/* ----------------------- */
/* Custom Styles Portfolio */
/* ----------------------- */
html, body {
	/*overflow: hidden;  Disable scrolling */
}

body {
	/* Remove margins and all that */
	margin: 0;
	padding: 0;

}
#header {
	width: 100%;
	position: absolute;
	z-index: 500000;
}
.brand {
	display: block;
	margin-top: 8px;
	width: 120px;
	height: 60px;
	background: url(../img/wmlogo2.png) no-repeat top;
}
.brand:hover {
	background-position: 0 -60px;
}
#menu a[href*='#'] {
	color: #ffffff;
}
#menu a[href*='#']:hover,
#menu a[href*='#']:focus {
	color: #ED4732;
}
.active {
	background: #ED4732;
	border-radius: 5px;
}
div.page-padding {
	height: 70px;
}
[class*="heading-"] {	
	background-color:#FFFFFF;
	font: 18px/27px 'OswaldBook', Arial, sans-serif;
	font-size: 5em;
}
.bg-dark {
     background-color: #202020;
}
.bg-light {
    background-color: #ffffff;
}
[class*="heading-"] span {
	margin: 0 10% 0 10%;
}
	
div.header-content {
/*	text-align: center;*/
	height: 1.95em;
}
div.header-content p, div.header-content div {
	line-height: 1.95em;
	padding-top: 0.15em;
}
/*.letter-spacing {
	letter-spacing: 1.8em;
}*/
div.content {
	padding-top: 160px;
}
.home div.content {
	padding-top: 70px;
}
.current {
	  color: #ED4732;
}
#social-page, .about-page, #twitter-page, .portfolio-page, .contact-page {
	margin-bottom: -70px;
	border: none;
}
/*THE HOME PAGE*/
.home-page {
    min-height: 870px;
    margin: 0 0 -70px 0;
    background-color: #202020;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
/*	background-color: #3097b9;
	box-shadow: inset 0 250px 600px #59C1D9, 0px 0px 60px rgba(0, 0, 0, 0.4);*/
    background-image: url("../img/bg-dash.png");
    background-repeat: repeat-y;
    background-position: top left;
    line-height: 5.2em;
}
div[class*="-p1"], div[class*="-p2"], div[class*="-p3"], div[class*="-p4"] {
    line-height: 2.0em;
}
div[class*="-p0"]{
    margin-top: -3%;
}
div[class*="-p1"]{
    margin-left: 50%;
}
div[class*="-p2"]{
    margin-left: 5%;
    margin-top: -3%;
}
div[class*="-p3"]{
    margin-left: 1%;
    margin-top: 3%;
}
div[class*="-p4"]{
    font-family: "courier new", Helvetica, sans-serif;
    margin: 2% auto 2% 32%;
    text-align: left;
    line-height: 1.1;
}

/* SOCIAL NETWORKS */

article div.social {
    margin-top: 8%;
    margin-bottom: auto;
}
div.social-twitter, div.social-facebook, div.social-skype {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.social-twitter {
    background: url("../img/social/twitter.png") no-repeat top;
}
.social-facebook {
    background: url("../img/social/facebook.png") no-repeat top;
}
.social-skype {
    background: url("../img/social/skype.png") no-repeat top;
}
.social-twitter:hover, .social-facebook:hover, .social-skype:hover {
    background-position: 0 -200px;
    cursor: pointer;
}

/*THE ABOUT PAGE*/
.about-page {
    background-color: #202020;
    background-image: url("../img/bg_tp.png");
    background-repeat: no-repeat;
    background-position: bottom right;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
	min-height: 820px;
    margin-bottom: 0;
}
.about-content div[class^="span"] {
    margin: 20px 0 20px 0;
}
.about-content div[class^="span"] a:hover {
    color: #ec4732;
    text-decoration: none;
}
.about-content div[class^="span"] a {
    color: #ededed;
    text-decoration: none;
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}
.about-hobbies {
    text-align: center;
}
.about-career, .about-edu, .about-hobbies {
    padding-top: 10px;
    font-size: 0.9em;
}
.about-hobbies {
    padding: 10px;
}
a.about-career-title, a.about-edu-title, .about-hobbies {
    /*color: #df8505;*/
}
.about-career span + ul, .about-edu span + ul, .about-hobbies span + ul {
    margin-top: 20px;
}
.about-career span + ul > li, .about-edu span + ul > li, .about-hobbies span + ul > li {
    margin-bottom: 20px;
}
.about-career ul li, .about-edu ul li, .about-hobbies ul li {
    line-height: 1.4;
    color: #ffffff;
}
.about-career ul li > ul, .about-edu ul li > ul, .about-hobbies ul li > ul {
    list-style: square;
}
.about-career li a, .about-edu li a, .about-hobbies li a {
    font-weight: bold;
}
.about-hobbies ul li {
    display: inline;
    padding: 0 90px 0 90px;
}
.about-skills-a {
    height: 582px;
    background: url("../img/skillsa.png") no-repeat 0 20px;
    background-position: top right;
    margin-bottom: 20px;
}
.about-skills-b {
    height: 582px;
    background: url("../img/skillsb.png") no-repeat 0 20px;
    background-position: top left;
}
hr {
    border-bottom: 1px solid #333333;
    border-top: 1px solid #111111;
    height: 0;
    margin: 4px 0;
}

/*THE TWITTER SECTION*/
.twitter-page #one {
    background-color: #00d9ad;
    box-shadow: inset 0 250px 600px #0287d9, 0 0 60px rgba(0, 202, 216, 0.40);
/*	background-color: #3097b9;
	box-shadow: inset 0 250px 600px #59C1D9, 0px 0px 60px rgba(0, 0, 0, 0.4);*/
}
.twitter-widget {
    width: 100%;
    top: 50px;
    text-align: center;
    height: 450px;
    background-color: #00d9ad;
    box-shadow: inset 0 250px 600px #0287d9, 0 0 60px rgba(0, 202, 216, 0.40);
    background-image: url("../img/bg-dash.png");
    background-repeat: repeat-y;
    background-position: 0 -1790px;
}
.twitter-timeline {
    margin-top: 25px;
}

/*THE PORTFOLIO PAGE*/
.portfolio-page {
    min-height: 900px;
	background-color: #ffffff;
	/*box-shadow: inset 0 250px 600px #0287d9, 0px 0px 60px rgba(0, 202, 216, 0.40);*/
    background-image: url("../img/bg-dash-black.png");
    background-repeat: repeat-y;
    background-position: 0 -2070px;
    padding-bottom: 70px;
}
.portfolio-page .header-content .navbar {
    padding: 0;
    margin: 0;
}
.header-content #portfolio-menu.nav > li > a {
    font: 18px/27px 'OswaldBook', Arial, sans-serif;
    font-size: 1.4em;
    line-height: 147px;
    color: #ED4732;
}
.navbar #portfolio-menu a[href^='#'],
.navbar #portfolio-menu a[href^='#']:link {
    padding: 0 40px 0 40px;
    color: #ED4732;
    text-decoration: none;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
}
.navbar #portfolio-menu li a[href^='#']:hover,
.navbar #portfolio-menu li a[href^='#']:focus {
    color: #ffffff;
    text-decoration: none;
}
#web, #artwork {
    padding: 0;
}
#web .content, #artwork .content {
    padding-top: 0;
    margin-top: 90px;
}
#web .container > div, #artwork .container > div {
    margin-bottom: 10px;
}
.thumb-info {
    padding: 5px;
    margin: 0 5px 0 5px;
    background-color: #eeeeee;
    border-bottom: 5px solid #ED4732;
    color: #555555;
    text-align: left;
}
.thumb-info a, .thumb-info a:link {
    color: #999999;
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 250ms ease 0s;
    -ms-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
}
.thumb-info a:hover, .thumb-info a:focus {
    color: #ED4732;
    text-decoration: none;
}
.thumb-info p {
    font-size: 0.8em;
}
.thumbnail {
    background-color: #ffffff;
    border-color: #aaaaaa;
}
.thumbnail:hover {
    background-color: #eeeeee;
}
.thumbnail .szary:hover {
    background-color: #ffffff;
}
.thumbnail:hover .item > .img-polaroid {
    background-color: #ffffff;
}
.thumbnail a {
    padding-left: 5px;
}
.item {
    padding: 0;
    cursor: pointer;
}
.item-overlay {
    /*display: none;*/

}
.thumbnails .active {
    height: 158px;
    display:block;
}
.content-box-shadow-bottom {
    height: 16px;
    background-image: url("../img/content-box-shadow-bottom.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    margin-bottom: 0;
}
/*THE BLOG PAGE*/
.blog-page {
	background-color: #d9ab23;
	/*box-shadow: inset 0 250px 600px #cfd900, 0px 0px 60px rgba(0, 0, 0, 0.4);*/
    background-image: url("../img/bg-dash.png");
    background-repeat: repeat-y;
    background-position: 0 -2930px;
}

/*THE CONTACT PAGE*/
.contact-page {
    min-height: 700px;
	background-color: #00d907;
	/*box-shadow: inset 0 250px 600px #59d95d, 0px 0px 60px rgba(0, 0, 0, 0.4);*/

}
.contact-page .content {
    padding-top: 117px;
}
article div {
    width: 100%;
    text-align: center;
}
.contact-form {
    margin: 25px auto 0 auto;
    width: 60%;
    height: 400px;
    background-color: #212120;
 }
.contact-form div[class^="span"] {
    margin-top: 73px;
}
.contact-form div[class^="span"]:first-child {
    font-family: "courier new", Helvetica, sans-serif;
    color: #ffffff;
    padding-right: 60px;
    height: 254px;
    border-right: 1px solid #ED4732;
}
.contact-form div[class^="span"]:first-child div{
    margin-top: 15px;
    text-align: right;
}

.contact-page .contact-form a,
.contact-page .contact-form a:link {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
}
.contact-page .contact-form a:hover,
.contact-page .contact-form a:focus {
    color: #ED4732;
    text-decoration: none;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    -webkit-box-shadow: 0 0 6px #ED4732;
    -moz-box-shadow: 0 0 6px #ED4732;
    box-shadow: 0 0 6px #ED4732;
    border-color: rgba(237, 71, 50, 0.80);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(237, 71, 50, 0.80);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(237, 71, 50, 0.60);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(237, 71, 50, 0.60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(237, 71, 50, 0.60);
}

.content {
    font: 'OswaldBook', Arial, sans-serif;
    font-size: 1.2em;
    /*margin-left: 5%;*/
}

/* FOOTER */
#footer-page {
    background-color: #202020;
    min-height: 140px;
    margin-bottom: 0;
}
#footer-page section {
    border-top: 5px solid #ED4732;
    box-shadow: inset 0 3px 6px #000000, 0 0 60px rgba(0, 0, 0, 0.4);
}
#footer-page section {
    color: #ffffff;
    font-size: 0.9em;
    text-align: center;
}
#footer-page section article hr{
    margin: 30px 20px 20px 20px;
}
#footer-page section article{
    padding: 25px;
}
#footer-page div.arrow-up {
    cursor: pointer;
    width: 50px;
    height: 43px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    background: url('../img/arr-up.png') no-repeat 0 0;
    text-align: center;
}

div.arrow-up {
    cursor: pointer;
    width: 50px;
    height: 43px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: url('../img/arr-up.png') no-repeat 0 0;
    text-align: center;
}
div.arrow-up:hover {
    background: url('../img/arr-up.png') no-repeat 0 -44px;
}
div.arrow-up span {
    font-size: 0.8em;
    line-height: 60px;
    color: #202020;
}
div.arrow-up:hover span {
    color: #ED4732;
}
div.arrow-up a:hover {
    text-decoration:  none;
}


/*-----------------*/
.font-white {
    color: #ffffff;
}
.font-red {
    color: #ec4732;
}

.font-smaller {
    font-size: 1.0em;
}
.font-small {
    font-size: 1.2em;
}
.font-normal {
    font-size: 2.1em;
}
.font-big {
    font-size: 2.6em;
}
.font-bigger {
     font-size: 4.8em;
}
.font-bold {
    font-weight: bold;
}



@media (max-width: 979px) {
	/* ----------------------- */
	/* Custom Bootstrap Styles */
	/* ----------------------- */
	.navbar-fixed-top .navbar-inner {
		padding: 0 5px;
	}
	.navbar-inverse .brand,
	.navbar-inverse .nav > li > a {
	  color: #ffffff;
	}
	.collapse.in {
		padding-top: 15px;
		height: auto;
	}
	  .nav-collapse.in .btn-group {
    	margin-top: 15px;
    	padding: 0;
  	}
	/* ----------------------- */
	/* Custom Styles Portfolio */
	/* ----------------------- */
	#menu a[href*='#'] {
		color: #ffffff;
	}
	#menu a[href*='#']:hover,
	#menu a[href*='#']:focus { 
		color: #ED4732;
		background-color: #ffffff;
	}
	#menu a[href*='#'].active:hover,
	#menu a[href*='#'].active:focus {
		color: #ffffff;
		background-color: #7d251a;
	}
	
	#header-mobile form {
		margin: 16px 0 0 0;
	}
	.mobile-nav {
		padding-top: 8px;
	}
	option:hover,
	option:focus {
		color: #ED4732;
	}
	.styled-select select {
		background: #ffffff;
		padding: 5px;
		font-size: 16px;
		border: 0;
		border-radius: 5px;
		-webkit-appearance: none;
	}
	.styled-select select option:hover {
		background-color: #dddddd;
	}
	div.page-padding {
		height: 0;
	}
    .contact-form {
        width: 90%;
    }
	[class*="heading-"] span {
	    margin: 0;
    }
    div[class*="-p1"]{
        margin-left: 40%;
    }
    div[class*="-p2"]{
        margin-left: 1%;
    }
    div[class*="-p3"]{
        margin-left: 1%;
    }
    div[class*="-p4"]{
        margin: 2% auto 2% 15%;
    }
    .font-smaller {
        font-size: 0.8em;
    }
    .font-small {
        font-size: 1.0em;
    }
    .font-big {
        font-size: 1.4em;
    }
    .font-bigger {
        font-size: 1.8em;
    }
    /* HOME PAGE */
    p[class*="-p1"]{
        margin-left: 20%;
        line-height: 1.2em;
    }
    p[class*="-p2"]{
        margin-top: 10%;
        line-height: 1.2em;
    }
}
@media (max-width: 767px){
    /* CONTACT PAGE */
    .contact-form {
        height: 200px;
    }
    .contact-form div[class^="span"]:first-child {
        padding: 5px;
        border-right: none;
    }
    .contact-form div[class^="span"]:first-child div{
        text-align: center;
    }
}