.parallax {
    background: none repeat fixed 50% 50% / 100% auto transparent;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.parallax .container {
    display: table;
    height: 450px;
}
.overlayPattern, .parallaxPattern {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.overlayPattern {
    background: url("../img/parallax_overlay.png") repeat fixed 0 0 transparent;
}
.parallaxPattern {
    background: url("../img/parallax_overlay.png") repeat fixed 0 0 transparent;
}

/**
 * Parallax Scrolling Tutorial
 * For NetTuts+
 *  
 * Author: Mohiuddin Parekh
 *	http://www.mohi.me
 * 	@mohiuddinparekh   
 */

/*#twitter-page { 
	background: url(../img/home.jpg) 90% 0 no-repeat fixed; 
    width: 100%;
	position: relative;
    box-shadow: inset 0 0 50px rgba(0,0,0,0.8);
	height: 400px;
}
.parallaxPattern {
    background: url("../img/parallax_overlay.png") repeat fixed 0 0 transparent;
}
#about { 
	background: url(../img/about.jpg) 50% 0 no-repeat fixed; 
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

 Introduction 

#home article { background: url("../img/intro.png") no-repeat scroll center top transparent; height: 458px; position: absolute; text-indent: -9999px; top: 291px; width: 100%; }

#twitter-page .content { background: url("../img/parallax.png") no-repeat scroll center top transparent; position: absolute; text-indent: -9999px; width: 100%; height: 200px;}*/


/**
 * Parallax Scrolling Tutorial
 * For TechRepublic
 * November 2012
 * Modified By: Ryan Boudreaux
 *
 * Original Work By: Richard Shepherd
 *		   			 www.richardshepherd.com
 * 		   			 @richardshepherd  
 *		  
 */


article h2 { font-family: 'Jacques Francois', serif; font-size:36px; margin: 15px 0;/* line-height:.95em;*/ }
article p { font-family: 'Oxygen Mono', sans-serif; font-size:14px; margin: 10px 0; line-height:1.25em; }

.contentBox { 
	margin: 10px 200px 20px 300px; 
	text-align:justify; 
	background: url(../img/parallax_overlay.png) repeat #333;
	color: #fff; 
	width: 500px; 
	padding: 10px 20px; 
	border: 10px solid #96F;
	box-shadow: 8px 8px 8px #999;
	-moz-border-radius: 35px 0px 35px 0px;
	-moz-box-shadow: 8px 8px 8px #999;
	-moz-border-radius-bottomright: 35px;
	-webkit-box-shadow: 8px 8px 8px #999;
	-webkit-border-bottom-right-radius: 35px;
	-webkit-border-top-left-radius: 35px;
}

.journal { 
	/*height: 1000px;*/ 
	padding: 0;
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
	/*border-top: 1px solid rgba(255,255,255,0.3); */
	/*border-bottom: 1px solid rgba(0,0,0,0.4);*/
	box-shadow: inset 0 0 50px rgba(0,0,0,0.8);
}

#one { /*	background-color: #3097b9;
	box-shadow: inset 0 250px 600px #59C1D9, 0px 0px 60px rgba(0, 0, 0, 0.4);*/
	background: url(../img/bg3.jpg) repeat-y 50% 0; background-size: auto;}
#one1 { /*	background-color: #3097b9;
	box-shadow: inset 0 250px 600px #59C1D9, 0px 0px 60px rgba(0, 0, 0, 0.4);*/
	/*background: url(../img/bg4.jpg) 0 0 repeat-y; background-size: auto;*/
    background-image: url(../img/aurora.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: bottom;
}
#one2 { /*	background-color: #3097b9;
	box-shadow: inset 0 250px 600px #59C1D9, 0px 0px 60px rgba(0, 0, 0, 0.4);*/
   background: url(../img/bg_network.jpg) repeat-y 0 0; background-size: auto;
     /*background-image: url(../img/bg_network.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;*/
}
#one3 { /*	background-color: #3097b9;
	box-shadow: inset 0 250px 600px #59C1D9, 0px 0px 60px rgba(0, 0, 0, 0.4);*/
    background: url(../img/art/radial3.jpg) repeat-y 0 0; background-size: cover;
}

#two { background: url(../img/birds1.png) 50% 0 no-repeat fixed; }
#three { background: url(../img/bg3.jpg) 50% 0 repeat-y fixed; }
#four { background: url(../img/img/Route66WinslowAZ.jpg) 50% 0 no-repeat fixed; }
#five { background: url(../img/img/metal.jpg) 90% bottom no-repeat fixed; }

/* Introduction */
#one .titleScroll {
/*	background: url(../img/birds2.png) 50% 100px no-repeat fixed;*/
	min-height: 500px;
	padding: 0;
	width: 100%;
	max-width: 1920px;
	position: relative;
	margin: 0 auto;
}
#one img {margin-top: 45px; }
#one article{
	width: 100%;
	top: 25px;
	position: absolute;
	text-align: center;
}
#one article p,
#one article a { color: #FFF; font-weight: bold;}
#one article a { text-decoration: underline; }
/*#one article a:hover { color: #F90; }*/


#one1 .titleScroll {
      /*	background: url(../img/birds2.png) 50% 100px no-repeat fixed;*/
      min-height: 500px;
      padding: 0;
      width: 100%;
      max-width: 1920px;
      position: relative;
      margin: 0 auto;
}
#one1 img {margin-top: 45px; }
#one1 article{
    width: 100%;
    top: 50px;
    position: absolute;
    text-align: center;
}


#one2 .titleScroll {
    /*	background: url(../img/birds2.png) 50% 100px no-repeat fixed;*/
    min-height: 500px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}
#one2 img {margin-top: 45px; }
#one2 article{
    width: 100%;
    top: 50px;
    position: absolute;
    text-align: center;
}
#one2 article p,
#one2 article a { color: #FFF; font-weight: bold;}
#one2 article a { text-decoration: underline; }
/*#one2 article a:hover { color: #F90; }*/

#one3 .titleScroll {
    /*	background: url(../img/birds2.png) 50% 100px no-repeat fixed;*/
    min-height: 500px;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}
#one3 img {margin-top: 45px; }
#one3 article{
    width: 100%;
    height: 100%;
    top: 25px;
    position: absolute;
    text-align: center;
}
#one3 article p,
    /*#one3 article a { color: #FFF; font-weight: bold;}
    #one3 article a { text-decoration: underline; }
    #one3 article a:hover { color: #F90; }*/
/* Background Only */
#two { padding: 50px 0;}

#two article { 
	background: url(../img/img/bg_layer_RedGrain.png) repeat #333; 
	color: #fff; 
	width: 445px; 
	margin-left: 100px; 
	padding: 10px 20px; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5); 
/*	line-height: 1.5em; */
	border: 10px solid #6F0B12;
	box-shadow: 8px 8px 8px #999;
	-moz-border-radius: 35px 0px 35px 0px;
	-moz-box-shadow: 8px 8px 8px #999;
	-moz-border-radius-bottomright: 35px;
	-webkit-box-shadow: 8px 8px 8px #999;
	-webkit-border-bottom-right-radius: 35px;
	-webkit-border-top-left-radius: 35px;
}

#two article p { margin-bottom: 25px; }
#two article a { color: #ff0;}

/* Photograph */
#one .DelRey {
	background: url(../img/birds1.png) transparent 50% 100px no-repeat fixed; 
	padding: 0; margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
}
#one1 .DelRey {
    background: url(../img/birds1.png) transparent 50% 100px no-repeat fixed;
    padding: 0; margin: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}
#one2 .DelRey {
    background: url(../img/bg_network.jpg) transparent 50% 100px no-repeat fixed;
    padding: 0; margin: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}
#one3 .DelRey {
    background: url(../img/contact.jpg) transparent 50% 100px no-repeat fixed;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}
.DelRey { 
	background: url(../img/birds1.png) transparent 50% 100px no-repeat fixed; 
	padding: 0; margin: 0; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	margin: 0 auto; 
}

