html, body {
	/*overflow: hidden;  Disable scrolling */
}

body {
	/* Remove margins and all that */
	margin: 0;
	padding: 0px 0px 0px 0px;
	font-family: Arial, sans-serif;
}

#header {
	width: 100%;
	position: absolute;
	z-index: 500000;
}

/*#header ul {
	list-style: none;
	/*margin: 0px 20px 20px 20px;*//*
	font-family: Arial, sans-serif;
	padding: 0 10px;
	float: right;
	font-weight: bold;
	border-radius: 10px;
}

#header ul li {
	padding: 10px;
	text-transform: uppercase;
}

#header ul li a {
	text-decoration: none;
	padding: 10px;
}

.light .current {
	background: #000;
	border-radius: 5px;
}

.dark .current {
	background: #fff;
	border-radius: 5px;
}

.dark h1, .dark ul li a {
	color: #000;
}
.light h1, .light ul li a {
	color: #fff;
}
*/
#header h1 {
	padding: 0 0 0 20px;
	font-family: 'Bree Serif', Georgia, serif;
	text-transform: uppercase;
	font-size: 3.5em;
	margin: 20px 0 0 0;
	float: left;
	font-weight: lighter;
	letter-spacing: 1px;
	text-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

.share {
	position: fixed;
	bottom: 20px;
	z-index: 5000;
	right: 20px;
}

.twitter-share-button {
	float: left;
}

.posit-g {
	position: relative;
	right: 15px;
	top: 4px;
	float: left;
}

.is {
	font-family: 'Bree Serif', Georgia, serif;
	font-size: 3.5em;
	position: relative;
	display: inline-block;
	left: 365px;
	top: 20px;
	color: #fff;
}

.content {
	position: relative;
	top: 130px;
}
#home, #about, #contact {
		padding-top: 70px;
}

/* ----- HOME PAGE ----- */

#home {
	background-color: #3097b9;
	box-shadow: inset 0 250px 600px #59C1D9, 0px 0px 60px rgba(0, 0, 0, 0.4);
	position: relative;
	z-index: 500;
}

.newsletter {
	width: 50%;
	margin: 0 auto;
}

#home .email {
	background: #fff;
	width: 76%;
	padding: 0 2% 0 0;
	overflow: hidden;
	float: left;	
	height: 65px;
	z-index: 500;
	margin: 0px;
	border-radius: 8px 0 0 8px;
	position: relative;
	box-shadow: 0px 8px 0px #aaa, 0px 4px 10px rgba(0,0,0,0.1), inset 0px -20px 30px -10px rgba(0,0,0,0.05);
}


#home .email input {
	width: 95%;
	padding: 3px 10px;
	height: 59px;
	border: 0;
	border-radius: 8px;
	outline: 0;
	font-size: 2em;
	position: relative;
}

/* ----- ABOUT PAGE ----- */

/* The background */
#about {
	background-color: #3b3b3b;
	box-shadow: inset 0px -40px 60px -30px rgba(0, 0, 0, 0.4);
	position: relative;
	overflow: hidden;
}

/* The content */
#about .content {
	margin: 20px 0 0 20px;
	color: #fff;
	width: 420px;
	top: 0;
	font-family: 'Bree Serif', Georgia, serif;
}

/* Text related */
#about .content h2 {
	font-size: 3em;
	font-weight: lighter;
	text-align: justify;
	letter-spacing: 1.5px;
	margin: 5px 0;
}

#about .content p {
	position: relative;	
}

#about .content p span {
	display: block;
	font-size: 3.7em;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

#about .content p span.amp {
	display: inline;
	font-size: 1em;
	color: #f38e4a;
}

/* Line break */
#about hr {
	border: 0;
	border-bottom: 10px solid #000;
	width: 413px;
	margin: 20px 0;
}

/* Positioning of the background */
#about .background-2 {
	width: 40%;
	position: absolute;
	bottom: 0;
	height: 300px;
	right: 0;
	z-index: 1000;
}

/* ----- CONTACT PAGE ----- */


/* For smaller screens */
@media (max-width: 960px) {
	.content { top: 160px !important; }

	#about .content { margin: 0 auto; }
	.is { display: none; }
	#header h1 {
		width: 100%;
		text-align: center;	
		padding: 0;
	}
	#header ul {
		float: none;
		margin: 0px auto;
		width: 380px;
		top: 10px;
	}
	#header ul li { padding-left: 0; }
	#header ul li:last-of-type { padding-right: 0; }
	#contact .form { padding: 4%; }
	#contact .form div { width: 100%; }
	#contact .form div input { width: 80%; }
	#services .content { width: 95%; }
	#services .content div {
		margin: 0 2% 0 0;
		width: 31%;
	}
}

/* For mobiles */
@media (max-width: 700px) {
	.share { display: none; }
	.content { top: 130px !important; }
	#header h1 { font-size: 2.2em;	 }
	#header ul {
		position: relative;
		top: 10px;
		width: 300px;
		margin: 0px auto;
		font-size: 0.7em;
	}
	#home .newsletter { width: 80%; }
	#about .background, #about .background-2 { display: none; }
	#services .content {
		width: 100%;
		float: left;
	}
	#about .content { width: 100%; }
	#about .content h2 {
		font-size: 2em;
		text-align: center;
	}
	#about .content p span {
		font-size: 2.6em;
		text-align: center;
	}
	#about .content hr { display: none; }
	#services .box-1, #services .box-3 { display: none; }
	#services .content .box-2 {
		width: 80%;
		margin: 0px auto;
		float: none;
	}
	#contact .content, #contact .form { width: 100%; }
	#contact label[for=text] { display: none; }
	#contact .submit input { margin: 0; }
	#contact .form label { padding: 5px 0 0 0; }
	#contact .form-name input,
	#contact .form-email input,
	#contact .form-website input {
		font-size: 0.9em;
		padding: 1%;
	}
}
